.floor{
		position: fixed;
		bottom: 0;
		margin: auto;
		<!--background: smth idk-->
		animation: marquee 5s linear infinite;
	}
	.post{
		padding: 12px;
		background-color: #f7f0d2;
	}
	.nav{
		color: #f7f0d2;
	}
